body {
	text-align: center;
	background-color: #00BFFF;
	}


table, td, th {
	margin-left:auto; 
	margin-right:auto;
	width: 60%;
	background-color:Silver;
	color:blue;
	border:1px solid black;
	}
	th
	{
	background-color:Silver;
	color:black;
}

ul {

	margin-left:auto; 
	margin-right:auto;
	text-align: left;
	background-color: #00EFFF;
	width: 60%;

}


form {

	margin-left:auto; 
	margin-right:auto;
	text-align: center;
	background-color: #00FFFF;
	width: 60%;

}

organo {

	font-weight: bold;
	font-style: italic;

}

atric {
	font-weight: bold;

}

direttore {

	font-weight: bold;
	font-style: italic;
	font-size:120%

}
